[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"

[requires]
python_version = "3.8"

[packages]
luigi = "*"
dask = {extras = ["dataframe"], version = "*"}
pyarrow = "*"
s3fs = "<0.5.0"
boto3 = "*"
mock = "*"
numpy = "*"