[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"

[requires]
python_version = "3.8"

[packages]
#csci-utils = {editable = true, extras = ["all"], git = "https://github.com/csci-e-29/2021sp-csci-utils-sujaritha-j.git"}
luigi = "*"
dask = {extras = ["dataframe"], version = "*"}
pyarrow = "*"
s3fs = "<0.5.0"
boto3 = "*"
mock = "*"
numpy = "*"
awscli = "*"
aws-sam-cli = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
python-dotenv = "*"
canvasapi = "*"
python-git = "*"
